*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
  background-color: #99b975;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #76ac65;
}

.card{
  margin-bottom: 450px;
  background-color: white;
  height: 40vh; 
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

input{
  width: 80%;
  margin: 0 15px;
  height: 45px;
  padding: 5px 15px;
  border-radius: 2px;
  outline: none;
  border: none;
  background: #e8ebed;
  color: #576366;
  font-size: 24px;
  margin-bottom: 30px;
}

.btn{
  display: flex;
  justify-content: center;
  border-radius: 2px;
  color: white;
  width: 60%;
  height: 45px;
  background-color: #76ac65;
  margin-bottom: 10px;
}